.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header h1 {
    margin: 0;
}

.box {
    display: flex;
}

.box img {
    width: 100%;
    height: auto;
}

.row {
    display: flex;
}
